/* root */
:root{
    --first-color: rgb(37,40,80);
    --first-color-light: #4dabf7;
    --first-color-dark: #0b5b9e;
    --first-color-accent: #ff8f00;
    --smooth-color : #2c3e50;
}

/* animation*/
@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes __zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.background-primary{
    background-color: var(--first-color);
    color: white;
}

.primary-button {
    background-color: var(--first-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}
.primary-button:hover {
    background-color: var(--first-color-dark);
    color : white;
}

.background-primary-light{
    background-color: var(--first-color-light);
    color: var(--first-color);
}

.background-primary-dark{
    background-color: var(--first-color-dark);
    color: white;
}

.background-primary-accent{
    background-color: var(--first-color-accent);
    color: white;
}

.primary-color{
    color: var(--first-color);
}

.primary-color-light{
    color: var(--first-color-light);
}

.primary-color-dark{
    color: var(--first-color-dark);
}

.primary-color-accent{
    color: var(--first-color-accent);
}

.cursor-pointer{
    cursor: pointer;
}

.delete_content:hover .delete {
    transform: scale(1.9);
}

.logo-login {
    width: 150px;
    height: 100px;
}

.header-row{
    height: 8vh;
}


.list-dossier{
    max-height: 50vh;
    width: 92%;
    overflow-y: auto;
    position : absolute;
    z-index: 999;
    border : 1px solid var(--first-color);
    border-radius : 5px;
}

.list-dossier li:hover{
    background-color: var(--first-color);
    color: white;
}


.container-images{
    width : 250px;
    height : 250px;
}

/*.container-images:hover {*/
/*    transform : scale(1.05);*/
/*}*/

.gallery-item .trash {
    display :none;
    margin-top : -35px;
    z-index : 1000
}

.gallery-item:hover .trash {
    display : block;
}
